.app { height: 100vh; overflow: hidden; display: flex;  flex-direction: column; position: relative;
    &-header { height: $h-header; box-shadow: $sh-default; position: relative; z-index: 4; background: $c-white; }
    &-body { background: $c-bg-light; position: relative; z-index: 1; flex-grow: 1; flex-basis: 0; position: relative; }
    &-menu { position: absolute; z-index: 2; background: $c-main;top: $h-header; left: 0; bottom: 0; right: 0; width: 100%; height: calc(100vh - #{$h-header}); transition: .2s linear;  overflow-y: auto;
        .menu-open & { transform: translateY(0);  }
        .menu-closed & { transform: translateY(-110%);  }
    }
    &-sider { position: fixed; top: $h-header; right: 0; bottom: 0; width: 400px; z-index: 3; transform: translateX(400px); transition: .2s linear; border-left: 1px solid $c-border-light;
        &--help { width: auto; transform: translateX(500px); }
        &--details {     width: calc(50%); transform: translateX(100%); }
        &--from-top {  transform: translateX(0) translateY(-105%); transition: .4s linear; }
        &--open { transform: translateX(0) translatey(0); box-shadow: $sh-default; }
    }
}
.app-header { display: flex;
    &-logo {width: 300px; height: $h-header;
        img { width: 100%; height: 100%; object-fit: contain; }
    }
    &-buttons { display: flex; }
    &-button { width: 65px; display: block; border: 0; background: transparent; font-size: 1.2rem; color: $c-text;
        &--menu { color: $c-white; background: $c-main; }
        &:hover {
            > * { animation: hover-content-bounce .25s linear; display: inline-block;}
        }
    }
    &-tray { display: flex; align-items: center; margin-right: 20px; flex-grow: 1; justify-content: flex-end; }
    &-user { display: flex; align-items: center; padding-right: 20px; user-select: none; }
}
