
@keyframes sidebar-out {
    0% { transform: translateX(0%); }
    100% {transform: translateX(-100%);}
}

.panels { display: flex; width: 100%; height: calc(100vh - #{$h-header}); align-items: stretch; position: relative;
    > * { flex-grow: 1; flex-basis: 0; overflow: hidden; }
    > router-outlet { flex-grow: 0; }
}
.panel { background: $c-bg; transition: .15s linear; overflow: hidden; display: flex; flex-direction: column; position: relative; height: calc(100vh - #{$h-header});
    &--search { width: 300px; background-color: $c-bg; border-right: 1px solid $c-border-light; z-index: 3; flex-grow: initial !important; flex-basis: initial !important;
        .sidebar-open & { margin-left: 0; }
        .sidebar-closed & {margin-left: -300px; }
    }
    &--main { flex: 10; background-color: $c-bg-light; z-index: 1;
        .advanced-sidebar-open & { transform: translateX( 900px); }
    }
    &--sider { flex: 10;
        background-color: $c-bg-light; z-index: 1;}
    &--advanced-search { position: absolute; width: 900px; height: 100%; z-index: 2; left: 300px; border-right: 1px solid $c-border-light;
        .advanced-sidebar-open & { transform: translateX(0); }
        .advanced-sidebar-closed & { transform: translateX(-1200px); }
        .sidebar-closed.advanced-sidebar-open &  { transform: translateX(-1200px) }
    }
    &-header { display: flex; justify-content: space-between !important; background: $c-white; box-shadow: $sh-default; position: relative; z-index: 2; align-items: center; user-select: none;
        &--transparent { background-color: transparent; box-shadow: none;}
    }
    &-sub-header{ z-index: 5;
        &--margin { margin-left: -15px; margin-right: -15px; }
    }
    &-header-group { padding: $p-bigger; justify-self: start; flex-grow: 1; flex-basis: 0; user-select: text;
        &--flex{ display: flex; align-items: center; }
    }
    &-header-group-base { margin-bottom: unset !important; }
    &-header-group-unset { margin-bottom: unset !important; margin-left: unset !important; }
    &-header-section { margin-right: 30px; }
    &-options { padding: $p-bigger; display: flex; }
    &-options-group { position: relative; }
    &-options-base { padding: unset !important; display: flex; margin: unset !important; }

    &-dropdown { position: absolute; top: 100%; right: 0; background: $c-white; border-radius: 10px; box-shadow: $sh-default; visibility: hidden; opacity: 0; transition: .2s linear; width: auto;
        :focus + & { visibility: visible; opacity: 1; }
    }
    &-go-back { width: 65px; border-right: 1px solid $c-border-light; align-self: stretch; display: flex; align-items: center; justify-content: center; cursor: pointer;
        &:hover { background-color: $c-bg-light; }
    }
    &-name { font-size: 1.3rem; font-weight: 900; }
    &-info { font-weight: 800; margin-bottom: 3px;
        &--container { margin-bottom: 3px !important; margin-left: unset; }
        &--weight { font-weight: 800; }
    }
    &-title { font-weight: 800; font-size: 2rem; }
    &-status { font-weight: 600; margin-top: 3px !important; font-size: .9rem; }
    &-actions { display: flex; margin-top: 10px; }
    &-action { border: 0; background: $c-main; color: $c-white; padding: 4px 10px; border-radius: 5px; font-weight: 700; font-size: 0.8rem; margin-right: 5px; }
    &-body { position: relative; z-index: 1; flex-grow: 1; flex-basis: 0; overflow-y: auto; overflow-x: hidden;
        &--side-scrolling { overflow-x: auto; }
        &--bg-light { background: $c-bg-light; }
        &--padding { padding: $p-bigger; }
    }
    &-option { font-size: 1.3rem; padding: 15px 10px !important; margin: 5px;  border: 0; background: transparent; border-radius: 5px !important; color: $c-text; position: relative;
        &:hover { background: $c-bg-light; }
        &:focus,
        &:active { background: initial; box-shadow: initial; }

        &--active {
            &,
            &:active,
            &:focus {box-shadow: inset 0 8px 10px rgba(#000, .1); background: $c-bg-light ; background: transparent; }
        }
        &--group-button {
            > div {min-width: unset !important; padding: unset !important;
                .button {background: transparent;
                    &:after {display: none;}
                    .caret {display: none;}
                    i {font-size: 1.3rem !important;}
                }
            }
        }
    }
    &-option-status { position: absolute; top: 3px; right: 3px; width: 15px; height: 15px; line-height: 15px; text-align: center; display: block; box-shadow: $sh-light; background: $c-danger; color: $c-white; border-radius: 100%; cursor: pointer; font-size: .8rem;}
    &-footer { border-top: 1px solid $c-border-light; padding: 15px $p-bigger;
        .button { margin-right: 5px;}
        &--no-padding { padding: 0; }
    }
}

.dropdown { min-width: 250px;
    a { color: inherit; text-decoration: none; padding: $p-default 10px; border-bottom: 1px solid $c-border-light; display: block; white-space: nowrap; font-size: .9rem; padding-right: 40px;
        li:last-child & { border: 0; }
    }
    i { display: inline-block; margin-right: 5px; font-size: 1rem; }
    ul { padding: 0; margin: 0; list-style-type: none; display: block;
        li { padding: 0; margin: 0; }
    }
}

.operations-dropdown {min-width: unset !important;
    .button {background: transparent;
        &.mobile-only {display: flex; padding-right: 10px !important; padding-left: 15px !important;}
        &:after {display: none;}
        .caret {display: none;}
    }
}

@keyframes jump-in {
    0% { transform: translateY(100vh); }
    98% { transform: translateY(-5vh); }
    100% { transform: translateY(0); }
  }
.dialog-panel { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 25; display: flex; justify-content: center; align-items: center; padding: 15px;
    &-backdrop { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(#000, .9); }
    .panel { width: 1200px; height: auto; border-radius: 5px; animation: jump-in .25s ease-in-out; max-height: 90vh;
        @media (max-width: 1200px)  { width: 100%; }
        &-body{ flex-basis: initial; }
    }
}

