.status {padding: 6px 10px; font-weight: 700; font-size: .9rem; display: inline-block; border-radius: $br-default;
    &--success { background-color: $c-success; color: $c-white; }
    &--warning { background-color: $c-warning; color: $c-white; }
}
