.tabs { display: flex; justify-content: space-between; padding: 0 $p-bigger; background: linear-gradient(to bottom, $c-bg-light, $c-bg); padding-top: $p-default; position: sticky; top: 0; z-index: 2; padding-bottom: 10px;
    &-group { display: flex; flex-wrap: wrap;}
    &::before { position: absolute; top: calc(100% - 10px); left: 0; width: 100%; height: 10px; content: ''; display: block; background-color: $c-bg-light; }
    &--separated { flex-direction: column-reverse; }
}
.tab { padding: $p-bigger !important; margin-right: 5px; font-weight: 600 !important;  user-select: none !important; cursor: pointer !important; display: flex; align-items: center;
    &--inactive { opacity: .7; }
    &--active { background: $c-bg-light; opacity: 1; box-shadow: $sh-default; border-radius: 5px 5px 0 0; }
    &-badge { margin-left: 5px; background: $c-danger; display: inline-block; border-radius: 100%; color: $c-white; width: 20px; height: 20px; text-align: center; line-height: 19px; font-size: .7rem; }

    &--icon{
        .tabs--separated & { display: flex; flex-direction: column; }
        &::after {
            .tabs--separated & { content: attr(title); display: block; font-size: .9rem; }
        }
    }
}
