$avatar-size: 50px;
$avatar-bg: #FA3153;
.user { display: flex; align-items: center;
    &--reversed { flex-direction: row-reverse; }
    &-avatar { width: $avatar-size; height: $avatar-size; background: $avatar-bg; color: $c-white; border-radius: $avatar-size / 2; display: flex; justify-content: center; align-items: center; font-size: 1.2rem; font-weight: 900; position: relative}
    &-info { padding: 7.5px;
        .user--reversed & { text-align: right; }
    }
    &-name { font-weight: 700;margin-bottom: 5px; }
    &-system { font-size: .8rem; }
}
