
.fc.combo.autocompleter {
  left: 0;
  overflow-y: auto;
  padding: 0;
  max-height: 150px; /* same as SelectCombo */
}

.fc.combo.autocompleter.show {
  display: inline-block;
  z-index: 1030;
  overflow-y: auto;
}

.fc.combo.autocompleter li.selected {
  background: #ddd;
}
.fc.combo.autocompleter li:hover {
  background: #eee;
}
.fc.combo.autocompleter.isEmpty {
  display: none;
}

.fc.combo .input-group-addon {
  border-radius: 0 4px 4px 0;
  border-left: 0;
}

.fc.combo .dropdown-menu {
}

.fc.combo .dropdown-menu li {
}

.fc.combo .dropdown-menu li a {
  white-space: initial;
}

.fc.combo.dropdown ul.autocompleter {
  width: 100%;
}
.fc.combo.is-invalid input {
  border-color: #dc3545;
}