<!DOCTYPE html>

<html id="fhApplication" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Informacja</title>

    <link rel="stylesheet" type="text/css" href="fhApplication.bundle.css?version=24450"/>
</head>

<body onload="updateHashInAction()" th:classappend="${@environment.getProperty('dp.theme')}">
<div class="login-board"
>
    <div class="login-logo">
        <img th:src="${@environment.getProperty('fh.application.logo.url')}"
             th:alt="${@environment.getProperty('fh.application.title')}"/>
    </div>
    <div class="alert alert-session">
        <strong th:text="#{fh.sessionUsed}">Użytkownik otworzył nową sesję w innym oknie przeglądarki</strong>
    </div>
</div>
</body>
</html>