<!DOCTYPE html>

<html id="fhApplication" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Error</title>

    <link rel="stylesheet" type="text/css" href="fhApplication.bundle.css?version=@@buildNumber@@"/>
</head>

<body >
<div class="loginContainer">
    <div class="loginLogo"></div>
    <div class="innerContainer">
        <div class="alert alert-danger">
            <strong>Wystąpił błąd wewnętrzny aplikacji, proszę o zgłoszenie tego w sekcji pomocy.</strong>
        </div>
        <div class="row">
        </div>
    </div>
</div>
</body>
</html>