.fc.wrapper .fc.form-check-input {
    margin-left: 0;
    position: inherit;
}
.fc.wrapper.form-check {
    flex-direction: column-reverse;
}
.fc.wrapper.form-check.positioned.right {
    flex-direction: row;
    align-items: baseline;
}
.fc.wrapper.form-check.positioned.right label.form-check-label {
    margin-left: 0.3em;
}
.fc.wrapper.form-check.positioned.right input.form-check-input {
    margin-right: 0;
}
.fc.wrapper.form-check.positioned.up {
    flex-direction: column-reverse;
}
.fc.wrapper.form-check input.form-check-input {
    margin-right: auto;
}
.fc.wrapper.form-check.positioned.left input {
    margin-right: 0;
}
.fc.wrapper.form-check.positioned.down {
    flex-direction: column;
}
.fc.wrapper.form-check.positioned.down input {
    margin-right: auto;
}
.fc.wrapper.form-check.positioned.left {
    flex-direction: row-reverse;
}
.fc.wrapper.form-check.positioned.left label.form-check-label {
    margin-right: 0.3em;
}
.form-check-label.is-invalid {
    color: #dc3545;
}
