.fc.dropdown .button .caret {
    margin-left: 5px;
}
.fc.dropdown .dropdown-menu li {
    cursor: pointer;
}

.fc.wrapper.inline.form-group {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     padding: 0 15px;
}

.dropdown .btn.disabledElement {
    pointer-events: none;
    opacity: 0.65;
}