/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/functions';
//@import 'bootstrap/scss/variables';
//@import './assets/fhng_variables';
@import 'bootstrap/scss/mixins';
//@import 'bootstrap/scss/utilities';
//@import './assets/bootstrap_override.css';

@import '../../../libs/fh-ng-core-lite/src/styles/fh-ng-core-lite';

@import 'bootstrap/scss/bootstrap';
//@import 'bootstrap/scss/bootstrap-grid';
@import '@fortawesome/fontawesome-free/css/all.min.css';

//Custom Fonts
@import './assets/fonts';
@import './assets/fonts/icomoon-v1.0/style';
@import './assets/icons';

//Custom styles
@import './assets/checkboxes';
@import './assets/input_groups';
@import './assets/tree';

//Custom sytyles for WAVE Web Accessibility Evaluation Tool
@import './assets/wave';


@import "./assets/styles"; //ppmks-app

//TODO Gdzie powinny się znaleźć globalne style , w ng-default-app ?? Prawdopodobnie tam
.pointer {
  cursor: pointer;
}

.text-xs {
  font-size: 0.5rem;
}

.text-small {
  font-size: 0.875rem;
}

.align-left {
  margin-right: auto;
}

.align-right {
  margin-left: auto;
}
