/* Common styles for Form Components */
.fc {
}

.fc.hasHeight {
    overflow-y: auto;
}
.hasHeight {
    position: relative;
}

.fc.hidden {
    display: none;
}

.fc.align-left {
}

.fc.align-center {
    margin-left: auto;
    margin-right: auto;
}

.fc.align-right {
    margin-left: auto;
}

.fc.table td .fc.align-right, .fc.table td .fc.align-center {
    float: none;
}

.fc.wrapper {
    position: relative;
}

.fc.wrapper.exactWidth {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.repeater .fc.wrapper.exactWidth,
.pcc-parent-entity-panel .fc.wrapper.exactWidth {
    width: auto;
}

.pcc-parent-entity-panel .fc.wrapper.exactWidth {
    display: inline-flex;
}

.fc.wrapper.inline {
    display: inline-block;
}

span.required {
    position: absolute;
}

.fc.wrapper span.required, .fc.wrapper.up span.required, .fc.wrapper.right span.required, .fc.wrapper.left span.required {
    top: 10px;
    bottom: inherit;
}

.fc.wrapper.down span.required {
    top: 5px;
    bottom: inherit;
}

.fc.wrapper span.required, .fc.wrapper.up span.required, .fc.wrapper.down span.required, .fc.wrapper.left span.required {
    right: 5px;
    left: inherit;
}

.fc.wrapper.right span.required {
    left: -4px;
    right: inherit;
}

.fc.wrapper.lids-map-wrapper {
    display: block;
    overflow: hidden;
}

.form-group textarea.form-control {
    height: auto;
}
.fc.panel {
    box-shadow: none;
}
.fc label.empty-label {
    margin: 0;
    position: absolute;
}

.fc-disabled {
    pointer-events: none;
}

.fc-editable {
    pointer-events: all;
}

.colorBorder {
    border: .25em solid transparent;
    border-radius: .5em;
    box-shadow: 0 0 .4em .4em rgba(255, 193, 7, .7);
    z-index: 1020;
}

#formDesignerToolbox .fc.tree .isLeaf .row:hover {
    background-color: unset;
}

.toolboxElementHighlight {
    background-color: rgba(255, 193, 7, .4);
    border: .25em solid transparent;
    border-radius: .4em;
}

.datepickerbutton {
    min-height: 38px;
}

.input-group-prepend.datepickerbutton,
.input-group-append.datepickerbutton {
    display: block;
}

.radioOption.form-check.form-group:focus {
    outline: none;
}

.requiredField {
    font-size: .5em;
    position: relative;
    top: -5px;
}
.tooltip {
    pointer-events: none;
}
#selectedElementDetailsGroup .fc.group > .card-body {
    padding-top: 0;
    padding-bottom: 0.1em;
}

#selectedElementDetailsGroup .fc.group .fc.table .table-heading th {
    border-top: unset;
}

.inputLabel {
    margin-bottom: 0;
    min-width: 100%;
}

.hint-ico-help.fa {
    line-height: inherit;
    cursor:pointer;
}
