@mixin button($color) { border: 0; background: $color; color: $c-white; border-radius: $br-default; font-weight: 700; }

@mixin btn-reset {
    &,
    &:hover,
    &:active,
    &:focus,
    &:active:focus { outline: 0; box-shadow: none !important; padding: 0; background: transparent;  }

    // @each $name, $color in $colors {
    //     &-#{$name} { @include button($color); }
    // }

}
@mixin card-reset { border: 0; background: initial; margin: 0; padding: 0;
    .card-body { padding: $p-default; margin: 0; }
}
