.modal {
  &-dialog {
    @media (min-width: 576px) { max-width: 900px; }
  }
  &-body {
    > .row { margin-left: -1em; margin-right: -1em }
    .card-header,
    .card-body { padding-left: 0; padding-right: 0; background-color: var(--color-bg-light)}
    th { z-index: 3 !important; }
  }
  &-content {
    background-color: var(--color-bg-light);
  }
  &-xxlg {
    max-width: 90vw !important;
  }
  &-full {
    max-width: none !important;
    margin-left: 0 !important;
  }
}
