.fc.tree {
    &.treelines ul:before { border-left: 1px dashed; }
    &.treelines li:before { border-top: 1px dashed; }
    &.treelines li:last-child:before { background: transparent; border-left: 0; z-index: 1;
        .panel--search & { background: $c-bg; }
        .panel--main & { background: $c-white; }
    }
    &.treelines .treeNode > .row > div { font-weight: 700; font-size: .9rem; outline: none;}
    .isLeaf .row:hover {background-color: $c-white; box-shadow: $sh-default; border-radius: 30px; z-index: 2; position: relative; text-decoration: underline; }
//    .fhml-tag-b { font-weight: inherit; color: $c-main; }
    .fa-caret-right,
    .fa-caret-down { margin-right: 5px; }
}

.app {
    &-menu {
        div.tree-menu .fc.tree.treelines ul:before { display: none; }
        .fc.tree.treelines li:last-child:before { display: none; }
        .fc.tree.treelines li:before { display: none; }
        .fc.tree .isLeaf .row:hover { box-shadow: none; border-radius: 0; background-color: transparent; }
        .fc.tree .fhml-tag-b { color: $c-white; text-decoration: underline;}
        .fc.tree .menu-element .fhml-tag-b { color: inherit; }
        div.treeNodeBody { outline:none; }
        ul.treeElementList li.treeNode div.row { color: unset !important;}
    }
}

.child-wrapper-min-width {
    .fc.wrapper {min-width: 320px;}
}
