<!DOCTYPE html>
<html id="fhApplication" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title th:text="${@environment.getProperty('fh.application.title') + '- Logowanie'}">Aplikacja - Logowanie</title>

    <link rel="stylesheet" type="text/css" href="fhApplication.bundle.css?version=@@buildNumber@@"/>
    <script>
        function updateHashInAction() {
            if (window.location.hash != undefined) {
                document.getElementById("login").action = document.getElementById("login").action + window.location.hash;
            }
        }
    </script>
</head>

<body class="loginPage" onload="updateHashInAction()">
    <div class="loginContainer">
        <div class="loginLogo">
            <img src="img/logo_s.png"/>
        </div>
        <form id="login" th:action="@{/login}" method="post">
                <div class="innerContainer">
                    <span class="h3" th:text="#{fh.infos.login}"></span>

                    <div th:if="${param.error}" class="alert alert-danger">
                        <p th:text="${message}"></p>
                    </div>
                    <div th:if="${param.logout}" class="alert alert-info alert-white rounded">
                        <p th:text="${message}"></p>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <input type="text" id="iUsername" name="username" placeholder="nazwa użytkownika"
                                   class="fc inputText form-control loginInput"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input type="password" id="iPassword" name="password" placeholder="hasło"
                                   class="fc inputText form-control passInput"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" id="bZaloguj" name="zaloguj"
                                class="fc button btn btn-primary btn-block form-control loginButton"
                                th:text="#{fh.buttons.login}"></button>
                    </div>
                </div>
        </form>
    </div>
</body>

</html>