$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-ewop-attachment-big: "\e900";
$icon-ewop-back: "\e901";
$icon-ewop-bell: "\e902";
$icon-ewop-calendar: "\e903";
$icon-ewop-document-message: "\e904";
$icon-ewop-down: "\e905";
$icon-ewop-download: "\e906";
$icon-ewop-error-big: "\e907";
$icon-ewop-file-document: "\e908";
$icon-ewop-help: "\e909";
$icon-ewop-helpewop--1: "\e90a";
$icon-ewop-home: "\e90b";
$icon-ewop-input_clearewop-path1: "\e90c";
$icon-ewop-input_clearewop-path2: "\e90d";
$icon-ewop-logout: "\e90e";
$icon-ewop-messages: "\e90f";
$icon-ewop-more: "\e910";
$icon-ewop-person: "\e911";
$icon-ewop-print: "\e912";
$icon-ewop-settings: "\e913";
$icon-ewop-small_arrow_right: "\e914";
$icon-ewop-up: "\e915";

