.fc.button {}
.fc.button .btnLabel {
    display: inline-block;
    vertical-align: middle;
}
.fc.button i {
    margin-right: 5px;
    margin-left: 5px;
}
.fc.button.square {
    width: 28px;
    padding: 0;
}
.fc.btn-group-justified .btn-group .btn-group .btn {
    width: auto;
}
.fc.btn-group-justified .btn-group .designToolbox {
    top: 20px !important;
}

.clearButton {
    cursor: pointer;
}

.listButtonWrapper {
    max-width: 220px;
}

.listOperationButtonWrapper {
    max-width: 150px;
}

.disabledElement.btn.button {
    opacity: 0.65;
    pointer-events: none;
    outline: none;
}