.fh-high-contrast-group {

}

.text-contrast {
    color: #ff0;
}

.fh-high-contrast-group .fh-high-contrast-btn-high {
    color: #ff0;
    border-color: #ff0;
}

.fh-high-contrast {
    background: black !important;
    color: #ff0;
}

.fh-high-contrast * {
    color: #ff0;
}

.fh-high-contrast button.btn:not(.btn-default, .btn-link,.hint-ico-help), .fh-high-contrast .btn:not(.btn-default, .btn-link,.hint-ico-help) {
    background: #ff0;
    color: black;
    border-color: #ff0;
}

/*.fh-high-contrast.hint-ico-help {*/

/*}*/

.fh-high-contrast .btn.fh-high-contrast-btn-normal {
    border-color: transparent !important;
    color: white !important;
}

.fh-high-contrast .btn.active {
    border-color: #ff0 !important;
    color: white !important;
}


.fh-high-contrast .table-striped tbody tr:nth-of-type(odd) td,
.fh-high-contrast .table-striped tbody tr:nth-of-type(odd) th,
.fh-high-contrast .table thead td, .fh-high-contrast .table thead th {
    background-color: #000 !important;
    color: #FF0;
}

.fh-high-contrast .table th,
.fh-high-contrast .table td,
.fh-high-contrast .modal .table th,
.fh-high-contrast .modal .table td {
    border: 1px solid #fff;

}

.fh-high-contrast .form-control:disabled, .fh-high-contrast .form-control[readonly],
.fh-high-contrast .form-control {
    background-color: #000;
    color: #FF0;
}

.fh-high-contrast .form-control, .fh-high-contrast .forms .form-select {
    border-color: #FFF !important;
}

.fh-high-contrast .input-group > .form-control:not(:last-child) {
    background-color: #000;
}

.fh-high-contrast .treeNodeBody .fc.outputLabel {
    color: #FF0;
}

.fh-high-contrast .list-group-item-custom {
    border-bottom: 1px solid #fff;
}

.fh-high-contrast .btn:not(:disabled):not(.disabled), .fh-high-contrast .fc.fileUpload .button span {
    background-color: #000;
    color: #FF0 !important;
}

.fh-high-contrast .btn {
    border-color: #fff !important;
    border: solid 1px #fff !important;
    color: #FF0 !important;
}

.fh-high-contrast .btn-primary.disabled, .fh-high-contrast .btn-primary:disabled,
.fh-high-contrast .modal .btn-primary.disabled, .fh-high-contrast .modal .btn-primary:disabled,
.fh-high-contrast .btn[disabled]:hover {
    color: #FF0;
    background-color: #000 !important;
    opacity: 0.75;
}

.fh-high-contrast .btn:hover:not([disabled]),
.fh-high-contrast button:focus,
.fh-high-contrast .btn:focus {
    background-color: #1f2920 !important;
    outline: #4d4d4d;
    border-color: #ff0 !important;
    border: solid 1px #ff0 !important;
    color: #FF0 !important;
}

.fh-high-contrast .modal .btn:focus,
.fh-high-contrast .modal .btn:hover {
    background-color: #1f2920 !important;
    outline: #4d4d4d;
    border-color: #ff0 !important;
    border: solid 1px #ff0 !important;
    color: #FF0 !important;
}

.fh-high-contrast .treeNodeBody .fc.outputLabel:not(.current) {
    color: #FF0;
}

.fh-high-contrast .table-hover tbody tr:hover td, .fh-high-contrast .table-hover tbody tr:hover th {
    background-color: #1f2920 !important;
    color: #FF0;
}

.fh-high-contrast div#mainTabContainer .nav-tabs .nav-link {
    border: solid 1px #d7d7d7;
    padding: 15px 5px;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    color: #ffff00 !important;
}

/*.fh-high-contrast  div#mainTabContainer .nav-tabs .nav-link.active {*/
/*    border: solid 1px #ff0;*/
/*    padding: 15px 5px;*/
/*    border-top-left-radius: unset;*/
/*    border-top-right-radius: unset;*/
/*    color: #000 !important;*/
/*    background-color: #ff0; }*/

.fh-high-contrast .fc.group.pinningModeButton:not(.floating) .card-header {
    background-color: #000;
}

.fh-high-contrast .btn-group,
.fh-high-contrast .btn-group > .btn-group:not(:last-child) > .btn,
.fh-high-contrast .btn-secondary:disabled,
.fh-high-contrast .modal .btn-group > .btn-group:not(:last-child) > .btn {
    background-color: #000 !important;
    color: #ff0 !important;
}

.fh-high-contrast .modal .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    background-color: #000 !important;
    color: #ff0 !important;
}

.fh-high-contrast .page-item.disabled .page-link, .fh-high-contrast .modal .page-item.disabled .page-link {
    color: #ff0;
    background-color: #e4032e;
}

.fh-high-contrast .btn-outline-primary:not(:disabled):not(.disabled).active {
    color: #000;
    background-color: #ff0 !important;
}

.fh-high-contrast .page-item.active .page-link {
    color: #000;
    background-color: #ff0 !important;
}

.fh-high-contrast .btn-group .page-link {
    color: #FF0;
    background-color: #000;
}

.fh-high-contrast .pagination {
    border: 1px solid #fff;
}

.fh-high-contrast .btn-group .page-link.active {
    color: #000 !important;
    background-color: #ff0 !important;
}

.fh-high-contrast .page-link:not(:disabled):not(.disabled) {
    background: #000;
    color: #FF0;
}

.fh-high-contrast .page-item.disabled .page-link, .fh-high-contrast .modal .page-item.disabled .page-link {
    color: #ff0;
    background-color: #000;
}

.fh-high-contrast .fc.tree .isLeaf .row:hover, .fh-high-contrast .modal .fc.tree .isLeaf .row:hover {
    background-color: #000;
    color: #FF0;
}

.fh-high-contrast .table-primary,
.fh-high-contrast .table-primary > td {
    background-color: #000 !important;
    border: solid 1px #ff0 !important;
}

.fh-high-contrast .modal .tagsinput div.rawinput {
    background-color: #000;
}

.fh-high-contrast .card {
    border: 1px solid #fff;
    background-color: transparent;
}

.fh-high-contrast .input-group-append .input-group-text.input-required,
.fh-high-contrast .input-group-append.openButton.fc-editable .input-group-text,
.fh-high-contrast .input-group-prepend.datepickerbutton .input-group-text,
.fh-high-contrast .input-group-prepend .input-group-text {
    background-color: #000;
}

.fh-high-contrast .fas.fa-star-of-life,
.fh-high-contrast .fa.fa-sort-down,
.fh-high-contrast .fa.fa-calendar,
.fh-high-contrast .fas.fa-search {
    color: #ff0;
}

.fh-high-contrast .fc.combo.autocompleter.show {
    border-bottom-width: 1px;
}

.fh-high-contrast .popover.fade.bs-popover-top.show,
.fh-high-contrast .popover-body,
.fh-high-contrast .popover-header,
.fh-high-contrast .bs-popover-bottom,
.fh-high-contrast .bs-popover-top {
    background-color: #000;
    color: #ff0;
    border: 1px solid #ff0;
}

.fh-high-contrast .note-hint-popover .popover-content .note-hint-group .note-hint-item.active,
.fh-high-contrast .note-hint-popover .popover-content .note-hint-group .note-hint-item:hover {
    background-color: #000;
    color: #ff0;
}

.fh-high-contrast .note-hint-popover .popover-content .note-hint-group .note-hint-item,
.fh-high-contrast .note-hint-popover,
.fh-high-contrast .popover-content,
.fh-high-contrast .note-hint-popover,
.fh-high-contrast .note-popover .popover-content .note-color-palette div .note-color-btn,
.fh-high-contrast .card-header.note-toolbar .note-color-palette div .note-color-btn,
.fh-high-contrast .note-popover .popover-content .note-color-palette,
.fh-high-contrast .note-popover .popover-content .dropdown-menu.note-check a i,
.fh-high-contrast .note-popover.popover .arrow,
.fh-high-contrast .note-popover.popover,
.fh-high-contrast .popover-header,
.fh-high-contrast .bs-popover-left > .arrow::after,
.fh-high-contrast .bs-popover-auto[x-placement^="left"] > .arrow::after,
.fh-high-contrast .bs-popover-left > .arrow::before,
.fh-high-contrast .bs-popover-auto[x-placement^="left"] > .arrow::before,
.fh-high-contrast .bs-popover-left > .arrow,
.fh-high-contrast .bs-popover-auto[x-placement^="left"] > .arrow,
.fh-high-contrast .bs-popover-left,
.fh-high-contrast .bs-popover-auto[x-placement^="left"],
.fh-high-contrast .bs-popover-bottom .popover-header::before,
.fh-high-contrast .bs-popover-auto[x-placement^="bottom"] .popover-header::before,
.fh-high-contrast .popover-header,
.fh-high-contrast .bs-popover-right > .arrow::before,
.fh-high-contrast .bs-popover-auto[x-placement^="right"] > .arrow::before,
.fh-high-contrast .bs-popover-right > .arrow::after,
.fh-high-contrast .bs-popover-auto[x-placement^="right"] > .arrow::after,
.fh-high-contrast .bs-popover-right > .arrow,
.fh-high-contrast .bs-popover-auto[x-placement^="right"] > .arrow,
.fh-high-contrast .bs-popover-right, .bs-popover-auto[x-placement^="right"],
.fh-high-contrast .bs-popover-top, .bs-popover-auto[x-placement^="top"],
.fh-high-contrast .bs-popover-top > .arrow, .bs-popover-auto[x-placement^="top"] > .arrow {
    color: #ff0;
}

.fh-high-contrast .tagsinput .tag .tag-remove:before,
.fh-high-contrast .tagsinput .tag .tag-remove:after,
.fh-high-contrast .modal .tagsinput .tag .tag-remove:before,
.fh-high-contrast .modal .tagsinput .tag .tag-remove:after {
    background: #ff0;
}

.fh-high-contrast .tagsinput div.rawinput,
.fh-high-contrast .modal .tagsinput div.rawinput {
    background-color: #000;
}

.fh-high-contrast .nav-tabs .nav-link.active,
.fh-high-contrast .modal .nav-tabs .nav-link.active {
    border: solid 1px #ff0;
    box-shadow: inset 0 0 0 1px #ff0;
}

.fh-high-contrast input[type=checkbox]:focus + label {
    outline: #ff0 1px solid;
}

.fh-high-contrast .error-link {
    background-color: #000;
    color: #d70f31;
    border: 1px solid #000;
}

.fh-high-contrast .error-num {
    color: #ff0;
}

.fh-high-contrast .form-control:focus,
.fh-high-contrast .select.form-control:focus::-ms-value,
.fh-high-contrast .input-group > .form-control:focus,
.fh-high-contrast .input-group > .custom-select:focus,
.fh-high-contrast .input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
    border: 1px solid #ff0 !important;
    outline: 2px solid #ff0 !important;
}


.fh-high-contrast table:focus {
    outline: 3px solid #ff0;
}

.fh-high-contrast .radioOption:focus,
.fh-high-contrast a:not([href]):not([tabindex]):hover,
.fh-high-contrast a:not([href]):not([tabindex]):focus,
.fh-high-contrast [tabindex]:focus {
    outline: 2px solid #ff0;
}

.fh-high-contrast input:focus {
    outline-color: #ff0;
}

.fh-high-contrast .fc.tree .isLeaf .row :focus {
    outline: 2px solid #ff0 !important;
}


.fh-high-contrast input[type=checkbox]:not([data-row-toggle]) + label:before {
    background-color: black;
    border-color: yellow !important;
    border: 1px solid #ff0 !important;
}

.fh-high-contrast .btn:not(:disabled):not(.disabled) .fa-question-circle {
    background-color: #d70f31;
    color: #000 !important;
}

.fh-high-contrast .modal .table-primary, .fh-high-contrast .modal .table-primary > td, .fh-high-contrast .modal .table-primary > th {
    background-color: #000 !important;
    color: yellow;
    border: solid 1px #CC0000;
}


.fh-high-contrast .btn.disabled, .fh-high-contrast .btn:disabled, .fh-high-contrast .modal .btn.disabled, .fh-high-contrast .modal .btn:disabled {
    opacity: 0.75;
}

.fh-high-contrast .modal .card-body {
    border: none;
}

/*.fh-high-contrast  div#menuTabContainer .nav-tabs .nav-link.active,*/
/*.fh-high-contrast  div#caseTabContainer .nav-tabs .nav-link.active {*/
/*    border: solid 1px #ff0;*/
/*    padding: 15px 5px;*/
/*    border-top-left-radius: unset;*/
/*    border-top-right-radius: unset;*/
/*    color: #000 !important;*/
/*    background-color: #ff0; }*/

.fh-high-contrast .table th,
.fh-high-contrast .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.fh-high-contrast .datepicker .day {
    border: 1px solid transparent;
}

.fh-high-contrast .datepicker .day.active {
    background-color: #ff0;
    color: #000;
}

.fh-high-contrast .datepicker .day:hover,
.fh-high-contrast .datepicker .picker-switch:hover {
    border: 1px solid #ff0;
}

.fh-high-contrast .fa-times::before {
    content: "\F00D";
    background-color: #000;
    color: #ff0;
}

.fh-high-contrast popoverer-close.fa-times {
    background-color: #000;
    color: #ff0;
}

.fh-high-contrast .btn:not(:disabled):not(.disabled):active:focus,
.fh-high-contrast .btn:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 0, 0.5);
}

.fh-high-contrast .fc.fileUpload .button span:hover {
    background-color: #1f2920 !important;
    color: #FF0 !important;
}

.fh-high-contrast .btn span:hover:not([disabled]) {
    background-color: #1f2920 !important;
    color: #FF0 !important;
}


.fh-high-contrast .table-primary, .fh-high-contrast .table-primary > td,
.fh-high-contrast .table-primary > th {
    background-color: inherit;
    border: solid 1px #ffff00;
    color: #ffff00 !important;
}

/*.fh-high-contrast  div#menuTabContainer .nav-tabs .nav-link,*/
/*.fh-high-contrast  div#caseTabContainer .nav-tabs .nav-link {*/
/*    border: solid 1px #d7d7d7;*/
/*    padding: 15px 5px;*/
/*    border-top-left-radius: unset;*/
/*    border-top-right-radius: unset;*/
/*    color: #ffff00 !important; }*/

.fh-high-contrast div#mainForm .nav-tabs .nav-link {
    background-color: inherit;
    color: #ffff00 !important;
}

.fh-high-contrast .fc.table thead .table-heading th {
    color: #ffff00 !important;
    background-color: inherit;
}

.fh-high-contrast ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: yellow;
    opacity: 1; /* Firefox */
}

.fh-high-contrast :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: yellow;
}

.fh-high-contrast ::-ms-input-placeholder { /* Microsoft Edge */
    color: yellow;
}

.fh-high-contrast .dropdown-menu, .fh-high-contrast .fhml-code {
    background-color: black !important;
}

.fh-high-contrast .bg-dark {
    background-color: black !important;
}

.fh-high-contrast .fc.combo.autocompleter li:hover {
    background-color: #1f2920 !important;
}

.fh-high-contrast .input-group-addon {
    background-color: black !important;
}

.fh-high-contrast .bootstrap-datetimepicker-widget {
    background-color: black !important;
    color: #ff0;
}

.fh-high-contrast .bootstrap-datetimepicker-widget table tbody td:hover {
    background-color: #1f2920 !important;
    color: #ff0;
    border: 0px solid transparent;
}

.fh-high-contrast .datepicker .picker-switch:hover {
    background-color: #1f2920 !important;
}

.fh-high-contrast .datepicker table thead th {
    color: white;
}

.fh-high-contrast .datepicker table {
    border-collapse: separate;
}

.fh-high-contrast .bootstrap-datetimepicker-widget table td span:hover, .fh-high-contrast .bootstrap-datetimepicker-widget table td i:hover {
    background-color: #1f2920 !important;
}

.fh-high-contrast .timepicker-picker * {
    color: #ff0 !important;
}

.fh-high-contrast .bootstrap-datetimepicker-widget .timepicker-picker .table-condensed > tr > td > a,
.fh-high-contrast .bootstrap-datetimepicker-widget .timepicker-picker .table-condensed > tr > td > a > span.fa-arrow-up:before,
.fh-high-contrast .bootstrap-datetimepicker-widget .timepicker-picker .table-condensed > tr > td > a > span.fa-arrow-down:before {
    color: #ff0 !important;
}

.fh-high-contrast .modal-content {
    background-color: black !important;
}
