.datepicker.dropdown-menu {
    margin: 0;
    text-align: center;
    padding: 0;
}

.datepicker .table-sm thead th {
    text-align: center;
}

.datepicker .day.default {
    background-color: #c6e3ff;
}

.datepicker .day.active {
    background-color: #0EA0F4;
}

.datepicker .day.today {
    background-color: #e9ecef;
}

.datepicker table th.prev,
.datepicker table th.datepicker-switch,
.datepicker table th.next,
.datepicker span.month,
.datepicker span.year,
.datepicker span.decade,
.datepicker span.century {
    cursor: pointer;
}

.datepicker .day:hover:not(.disabled) {
    background-color: #eeeeee;
}

.datepicker .day.disabled {
    color: #AAAAAA;
}

/* calendar */
.calendar thead tr th {
    background-color: transparent;
    border: none !important;
}

.calendar .ui-datepicker-year,
.calendar .ui-datepicker-month,
.calendar thead tr th span {
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.calendar .ui-datepicker-year,
.calendar .ui-datepicker-month {
    font-size: 17px;
}

.calendar thead tr .ui-datepicker-week-end span[title="Niedziela"] {
    color: #9E0B11;
}

.calendar .ui-state-default, .ui-widget-content .ui-state-default,
.calendar .ui-datepicker td a, .calendar td a {
    text-align: center;
}


.bootstrap-datetimepicker-widget {
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.bootstrap-datetimepicker-widget thead tr th {
    background-color: transparent;
    border: none !important;
    color: #333333;
}

.bootstrap-datetimepicker-widget thead tr th:nth-child(7) {
    color: #9E0B11;
}

.bootstrap-datetimepicker-widget thead tr:nth-child(1) {
    border-bottom: 2px solid #D6D6D6;
}


.bootstrap-datetimepicker-widget .day.active {
    background-color: #0EA0F4;
}

.bootstrap-datetimepicker-widget .today {
    border: 2px solid #79CAF9;
}

.bootstrap-datetimepicker-widget table th,
.bootstrap-datetimepicker-widget table td {
    text-align: center;
}

.bootstrap-datetimepicker-widget table td {
    cursor: pointer;
}

.bootstrap-datetimepicker-widget .picker-switch {
    font-size: 17px;
}

span.month, span.year, span.decade, span.century {
    margin-right: 15px;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
    background: #eee;
    cursor: pointer;
}

.fc.inputDate.datepickerInput {
    min-height: 38px;
}
