/* tylko dla IE11 */
@media all and (-ms-high-contrast:none) {
    .fc.panel .fc.wrapper.valign-top {
        display: block;
    }
}

.fc.footer.card-footer {
    width: 100%;
}

.fc.panelGroup.disabled .card-header {
    pointer-events: all;
}

.card-header .collapseToggle {
    padding-left: 3px;
    padding-right: 3px;
}
