
.fc.selectcombo.autocompleter {
    left: 0;
    overflow-y: auto;
    padding: 0;
    max-height: 150px;
}

.fc.selectcombo.autocompleter.show {
    display: inline-block;
    z-index: 1030;
    overflow-y: auto;
}

.fc.selectcombo.autocompleter li.selected {
    background: #ddd;
}
.fc.selectcombo.autocompleter li:hover {
    background: #eee;
}
.fc.selectcombo.autocompleter.isEmpty {
    display: none;
}

.fc.selectcombo .input-group-addon {
    border-radius: 0 4px 4px 0;
    border-left: 0;
}

.fc.selectcombo .dropdown-menu {
}

.fc.selectcombo .dropdown-menu li {
}

.fc.selectcombo .dropdown-menu li a {
    white-space: initial;
}

.fc.selectcombo.dropdown ul.autocompleter {
    width: 100%;
}

.fc.selectcombo.is-invalid input {
    border-color: #dc3545;
}

.fc-editable.openButton .input-group-text:hover {
    cursor: pointer;
}
.openButton .input-group-text:hover {
    cursor: default;
}
