.fc.row-dropdown {
    border-radius: 50%;
    text-align: center;
    border: none;
    background: transparent;
}

.fc.row-dropdown i {
    display: inline-block;
    width: 100%;
    margin-left: 0;
}

.fc.row-dropdown.dropdown-toggle::after {
    display: none;
}

.fc.dropdown.show .dropdown-menu.row-dropdown-menu.show {
    right: 110%;
    top: -110% !important;
    left: unset !important;
}
