.fc.tree {}
.fc.tree .list-group {
    padding: 0;
    list-style: none;
}
.fc.tree .treeNode {
    position: relative;
}
.fc.tree .treeNode .treeNodeBody {
    cursor: pointer;
}
.fc.tree .treeNode > .row {
    padding: 5px 0;
    margin-right: 0;
}
.fc.tree .treeNode > .row > div {
    padding-right: 0;
    padding-left: 0;
}
.fc.tree .treeNode .form-group {
    margin-bottom: 0;
}
.fc.tree .treeNode .list-group {
    margin: 0 0 0 10px;
}
.fc.tree .treeNode .list-group.hidden {
    display: none;
}
.fc.tree .treeNode .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.fc.tree .treeNode.selected > .row .outputLabel {
    text-decoration: underline;
}

.fc.tree.treelines .treeNode > .row {
    padding: 0px;
}
.fc.tree.treelines .treeNode > .row > div {
    padding-left: 20px;
}

.fc.tree.treelines,
.fc.tree.treelines ul {
    margin:0 0 0 0em; /* indentation */
    padding:0;
    list-style:none;
    position:relative;
}

.fc.tree.treelines ul {margin-left:.5em} /* (indentation/2) */

.fc.tree.treelines:before,
.fc.tree.treelines ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid;
}

.fc.tree.treelines li {
    margin:0;
    line-height: 2.5em; /* default list item's `line-height` */
    position:relative;
}

.fc.tree.treelines li:before {
    content:"";
    display:block;
    width:10px; /* same with indentation */
    height:0;
    border-top:1px solid;
    margin-top:-1px; /* border top width */
    position:absolute;
    top:1.2em; /* (line-height/2) */
    left:0;
}

.fc.tree.treelines li:last-child:before {
    background:white; /* same with body background */
    height:auto;
    top:1.5em; /* (line-height/2) */
    bottom:0;
}

.fc.tree .isLeaf .row:hover {
    background-color: #ebebeb;
}

.fc.tree.treelines:before {
    border: none;
}

/*.treeNodeBody div.fc.outputLabel {*/
    /*display: inline-block;*/
/*}*/