@import './styles/variables';

#mainBody {
    overflow: hidden;
}
.fc.group.group-button-back{
  margin-bottom: 0px;
}
.group-button-back{
  border-right: 1px solid var(--color-border-light);
  padding-top: 20px;
}
.group-button-back:hover {
  background-color: var(--color-bg-light);
}
.group-header {
  justify-content: space-between;
  background: var(--color-white);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 6;
  align-items: center;
}
.row-panel{

}
.header-group{
  flex-direction: column;
}
.fc.outputLabel.output-label-no-padding {
  padding: 0px;
}
.fc.outputLabel.panel-info_{
   padding: 5px 0px 0px;
}
.panel-info_{

  font-weight: 900;
}
.output-max-width{
  width: max-content;
}

.btn-group>.button-icon {
  width: 40px;
  flex: unset;
  padding: 0px 0px 0px 0px;
  background: transparent;
  border-radius: 0px;
  color: var(--color-text);
  font-size: inherit;
}

.btn-group>.button-icon:hover {
  background: var(--color-bg-light);
}
.btn-group>.button-icon:focus, .btn-group>.button-icon:active {
  background: initial;
  box-shadow: initial;
}
.btn-group>.button-icon--active, .btn-group>.button-icon--active:active, .btn-group>.button-icon--active:focus {
  box-shadow: inset 0 8px 10px rgba(0, 0, 0, 0.1);
  background: var(--color-bg-light);
  background: transparent;
}

.button-icon-group {
  font-size: 1.6rem;
  margin: 5px;
  border: 0;
  background: transparent;
  border-radius: 5px;
  color: var(--color-text);
  position: relative;
  padding: 15px 10px 15px 50px;
}

.btn.button-action{
  border: 0;
  padding: 4px 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.7rem;
  margin-right: 5px;
}
.fc.outputLabel.label_padding {
  padding-bottom: 10px;
}
div#declarationCTList > div.card-body{
  padding-top : 0px;
}

div#declarationCTList {
  height: 100%;
}

div[id^='DeclarationHandlingForm'].card >  div.card-body {
  padding-top : 0px;
  padding-bottom: unset;
}

div[id^='DeclarationHandlingForm'].card {
  height: 100%;
}

div[id^='DeclarationHandlingForm'].card > div.card-body > div.row.eq-row {
  height: 100%;
}

div[id^='DeclarationHandlingForm'].card > div.card-body > div.row > div.fc.wrapper > div.main-page--flex > div.fc.wrapper {
  flex: unset;
}

// div#mainForm {
//   overflow: hidden;
// }

.tab-container-auto-scroll {
  height: 100%;
  flex-direction: column;
  display: flex !important;
}

.tab-container-auto-scroll a.nav-link {
    height: 100%;
}

.tab-content.row.eq-row {
  height: 100%;
  overflow: auto;
  overflow-y: auto;
}

.fc.group.group-header {
  margin-bottom: 0px;
}
.group-button-back > .fc.wrapper{
  max-width: 100%;
  flex : 0 0 100%;
}

.group-button-back > .col-md-3 {
  padding-left:0px;
  padding-right: 0px;
}

.fc.button.button-in-operations{
  height: 30px;
  width: 30px;
  padding: 0px;
  margin: 0px;
  font-size: inherit;
}

#header-operations {

  position: relative;
  max-width: 100%;
  margin-bottom: 0px;
  height: 0;
}
.operations-row {
  position: fixed;
  z-index: 4;
  top: 175px;
  left: 50%;
  right: 0;
  padding-right: 20px;
  flex: auto;
  flex-direction: row;
  font-size: 1.6rem;
}
.operations-row > .col-md-1{
  flex: 0 0 0;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: unset;
}
div#table-group  {
  margin-left: -20px;
  margin-right: -30px;
}

div#table-group-toolsRow  {
  margin-left: -30px;
  margin-right: -30px;
}

div#table-group-toolsRow > div.fc.wrapper > div.toolsRow {
  padding-left: 30px;
}

table#modelFrmUserTable, table#modelFrmUserTable_clone{
  margin-left: 0px;
  margin-right: 0px;
}

table#modelFrmUserTable > thead > tr > th, table#modelFrmUserTable_clone > thead > tr > th {
background: var(--color-white);
font-weight: $t-fw;
white-space: nowrap;
z-index: 4;
cursor: pointer;
user-select: text;

}

table#modelFrmUserTable > thead > tr > th > i , table#modelFrmUserTable_clone > thead > tr > th > i{
margin-left: 5px;
}


table#modelFrmUserTable > thead > tr > th, table#modelFrmUserTable_clone > thead > tr > th {
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);

}
div#menuInner > .card-body{
  background-color: $c-main;
}

div#menuInner {
  border: 0px;
}

.search-input{
  background: var(--color-white);
  border: 0;
  border-radius: 15px;
  padding: 20px 15px;
  min-width: 400px;
  outline: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}
.menu-element {
  font-weight: 900;
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  color: var(--color-negative-text);
  margin-bottom: 15px;
}

.app-menu {
  height: unset !important;
}

.menu-group { padding-left: 75px;
  &--title { padding-bottom: 30px; color: $c-white; display: flex; align-items: center; transform: translateX(-75px);  }
  &--name { font-size: 1.8rem; font-weight: 900;  text-shadow: $sh-default; }
  &--icon { width: 60px; height: 60px; margin-right: 15px; margin-bottom: 15px; border-radius: 15px;
    background: var(--color-white); display: inline-flex; justify-content: center;
    align-items: center; font-size: 1.7rem !important; box-shadow: $sh-default; color: var(--color-black) }
}

.menu-position { color: var(--color-negative-text);line-height: 1.3rem !important; margin-bottom: 2.5rem !important; display: inline-block;
  &:last-child { margin-bottom:  15px; }
  &--short {margin-left: 60px; font-size: 2.5rem; font-weight: 900; text-shadow: $sh-default; line-height: 1.3rem !important;}
  &--medium {margin-left: 60px; font-size: 15pt; font-weight: 900; text-shadow: $sh-default; line-height: 1.3rem !important;}
  &--name {margin-left: 60px; font-weight: 600; font-size: 1.2rem; display: flex; line-height: 1.3rem !important;}
}

.mdas-app-title-size {
  font-size: 15pt;
}

.menu-text-black {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: var(--color-main);
}

.collapse-value {
  font-weight: 800;
  font-size: .95rem;
  color: var(--color-text);
}

.collapse-label {
  font-weight: 400;
  font-size: .95rem;
  color: var(--color-text);
}

div#menuInner ~ .fc.tree .isLeaf .row:hover , .menu-element:hover{
  background-color: transparent;
  box-shadow: none;
  border-radius: 30px;
}
.fc.tree .isLeaf.menu-element .row  :hover {
  background-color: $c-main;
  box-shadow: unset;
  border-radius: 30px;
  text-decoration: underline;
}
.fc.tree .menu-element .fhml-tag-b {
  font-weight: inherit;
  color: var(--color-white)
}

.search-padding {
  padding-bottom : 50px;
}
.search-label{
  font-weight: 900;
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  color: var(--color-negative-text);
}
div.tree-menu .fc.tree.treelines ul:before {

  border-left-color: white;

}
div#mainForm > div[id^='DeclarationHandlingForm'].card > div.card-body > div.row > div.fc.wrapper:first-child{
  position: sticky;
  top:0;
  z-index:4;
}
div#mainForm > div[id^='DeclarationHandlingForm'].card > div.card-body > div.row ,
    div#mainForm > div[id^='declarationCTList'].card > div.card-body > div.row{
  margin-left: calc(-1*var(--padding-default));
  margin-right: calc(-1*var(--padding-default));
}
div#mainTabContainer > .nav-tabs{
  //top:80px;
  z-index: 3;
}

div#mainTabContainer > div.tab-content > div#tab0.tab-pane {
  height: 100%;
}

div#mainTabContainer > div.tab-content > div#tab0.tab-pane > div.row {
  height: 100%;
}

div#mainTabContainer > div.tab-content > div#tab0.tab-pane > div.row > div.fc.wrapper {
  height: 100%;
}

div#mainTabContainer > div.tab-content > div#tab0.tab-pane > div.row > div.fc.wrapper > div.fc.row {
  height: 100%;
}

div#mainTabContainer > div.tab-content > div#tab0.tab-pane > div.row > div.fc.wrapper > div.fc.row > div.fc.wrapper {
  height: 100%;
}

div#mainTabContainer > div.tab-content > div#tab0.tab-pane > div.row > div.fc.wrapper > div.fc.row > div.fc.wrapper {
  height: 100%;
}

div#wniosekFormRightPanel,
  div#wniosekFormRightPanel > div.fc.wrapper {
  height: 100%;
}

#wniosekFormRightPanel.eq-row > div.fc.wrapper > div[id^='Include'].fc.group {
  margin-bottom: unset;
}

div#mainTabContainer > div.tab-content > div#tab0.tab-pane #wniosekFormRightPanel.eq-row > div.fc.wrapper > div[id^='Include'].fc.group {
  height: 100%;
  flex-direction: column;
  flex-wrap: unset;
  display: flex !important;
}

div#mainTabContainer > div.tab-content > div#tab0.tab-pane #wniosekFormRightPanel.eq-row > div.fc.wrapper > div[id^='Include'].fc.group > div.fc.wrapper {
  flex: unset;
}

div#inputsForm {
  overflow: auto;
}
div#gridTreeForm {
  overflow: auto;
}

.operations-tab {
  margin-bottom: unset !important;
  margin-left: unset;
  margin-right: unset;
}

.operations-tab > div.fc.wrapper > div[id^='Include'] {
  margin-bottom: unset;
}

.operations-button > i.fhml {
  margin-left: unset;
  margin-right: unset;
}

.operations-pending {
  font-size: calc(1.25 * var(--font-size-default));
  font-weight: 600;
  justify-content: end !important;
}

.operations-pending > div.fc.wrapper > span {
  width: max-content;
}

.white-space--break-spaces {
  white-space: break-spaces;
}

.margin__unset {
  margin: unset !important;
}

.padding__unset {
  padding: unset !important;
}

.box-shadow__unset {
  box-shadow: unset !important;
}

.main-page--flex {
  height: calc(100vh - var(--header-height));
  flex-direction: column;
  flex-wrap: unset;
}

.toolsRow {
  left: 0px;
  position: absolute;
  top: 100%;
  width: 100%;
  padding-left: 15px;
}

div#modelFrmUserTable_pagination {
  padding-right: unset;
}

div#parametersForm > div.card-body{
  padding-top : 0px;
}

div#parametersForm {
  height: 100%;
}

#parametersForm > div.card-body > div.row.eq-row {
  margin-left: calc(-1 * var(--padding-default)) !important;
  margin-right: calc(-1 * var(--padding-default)) !important;
}

#DetailsFormParameters > div.card-body > div.row.eq-row {
  margin-left: calc(-1 * var(--padding-default)) !important;
  margin-right: calc(-1 * var(--padding-default)) !important;
}

div[id^='DetailsForm'].card >  div.card-body {
  padding-top : 0px;
}

div#SubstantiveParametersDetailEditForm.modal > div.modal-dialog > div.modal-content > div.modal-body {
  padding-top : 0px;
}

div#mainTabContainer > .panel-sub-header > .tabs > .tabs-group > .nav-tabs {
  background: unset !important;
}

div#mainTabContainer > .panel-sub-header > .tabs > .tabs-group > .nav-tabs > .nav-item > a.nav-link {
  height: 100%;
}

div[id^='OpDataBaseForm'].modal > div.modal-dialog > div.modal-content > div.modal-header {
  overflow: unset;
}

div[id^='OpDataBaseForm'].modal > div.modal-dialog > div.modal-content > div.modal-header {
  width: 100%;
  border-bottom: unset;
  padding: unset;
  z-index: 5;
}

div[id^='OpDataBaseForm'].modal > div.modal-dialog > div.modal-content > div.modal-header > h5.modal-title {
  width: 100%;
}

div[id^='OpDataBaseForm'].modal > div.modal-dialog > div.modal-content > div.modal-body {
  padding-top: 0px;
}

div[id^='OpDataBaseForm'].modal > div.modal-dialog > div.modal-content > div.modal-body > div.row.eq-row {
  flex-direction: column;
  flex-wrap: unset;
  max-height: 84vh;
}

div[id^='OpDataBaseForm'].modal div.modal-body div[id='tabContainerGroup'] div.tab-content {
  margin-top: 10px;
}

.modal-tabContainer {
  padding-left: var(--padding-default);
  padding-right: var(--padding-default);
}

div.modal-tabContainer > ul.nav-tabs {
  z-index: 3;
}

div.modal-tabContainer > div.tab-content {
  margin-left: unset;
  margin-right: unset;
  height: unset;
}

table[id^='tblNestedTable'] > tbody > tr > td {
  padding-top: unset !important;
}

div#buttonsForm > div.fc.form.card > div.card-body {
  padding: unset;
}

input.fc[readonly] { pointer-events: auto !important; }

label { pointer-events: auto; }

.hint-ico-help.fa-question-circle::before {
  content: "\f059" !important;
  font-weight: 400;
  color: var(--color-static-tooltip);
  font-size: calc(var(--font-size-default));
}

div#settingsSider {
  width: 500px;
}
div#operationSider {
  width: 800px;
}
div#helpPageSider {
  width: 800px;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.labelAndButtonJustified {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: var(--color-input-readonly);
}

.input-group-text {
  color: var(--color-input-group-text);
}

.page-link {
  background-color: var(--color-white);
}

.page-item.disabled .page-link {
  background-color: var(--color-white);
}

.fa-arrow-down:before {
  content: var(--content-collapse-icon-down);
  color: var(--color-collapse-icon);
}

.fa-arrow-up:before {
  content: var(--content-collapse-icon-up);
  color: var(--color-collapse-icon);
}

div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable
> div.fh-error-dialog.ui-dialog-content.ui-widget-content {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable
> div.fh-error-dialog.ui-dialog-content.ui-widget-content > div.content {
    background-color: #f9f9f9;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
    margin-top: 1.75rem;
}

div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable
> div.fh-error-dialog.ui-dialog-content.ui-widget-content > div.content > div > div.modal-body > div.row
> div.fc.wrapper.inline.col-md-4.form-group  {
    margin-left: auto;
    margin-bottom: unset;
    margin-right: auto;
}

div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable
> div.fh-error-dialog.ui-dialog-content.ui-widget-content > div.content > div > div.modal-body > div.row
> div.fc.wrapper.inline.col-md-4.form-group > button  {
    margin-left: auto;
    margin-right: auto;
    background: rgb(241, 0, 82);
    color: #fff;
}

div.tagsinput > div.rawinput {
    min-height: var(--minWidth-rawinput);
}

div.tagsinput div.rawinput input {
    width: inherit;
}

.tagsinput .tag {
    font-size: 1rem;
}

div#externalPanelHeader .panel-option:hover {
    background: rgb(226,25,37) !important;
}

div[id^='TabContainerBadgeSuccess'] {
    color: var(--color-main);
    height: 100%;
    flex-direction: column;
    display: flex !important;
}

div[id^='TabContainerBadgeSuccess'] > div.tab-content {
    z-index: 4;
}

div[id^='TabContainerBadgeSuccessNested'] > ul.nav-tabs {
    z-index: 5;
}

div[id^='TabContainerContentZIndex'] > div.tab-content {
    z-index: 3;
}

div[id^='tabScroll'] > div.row {
    height: 100%;
}

div[id^='TabContainerBadgeSuccess'] > ul > li > a > span {
    background: var(--color-success);
}

div[id^='wniosekFormRightPanel'] table:not(.table-condensed),
    .resize-margin-table > table {
        width: calc(100% + var(--padding-default) * 2) !important;
        margin-left: calc(var(--padding-default) * -1) !important;
        margin-right: calc(var(--padding-default) * -1) !important;
}

input[id^='comboInput'].form-control:disabled {
  display: none;
}

div.fc-disabled > div.fc.wrapper > div.tagsinput > div.rawinput {
	background-color: var(--color-input-readonly);
}

.table-header-tight {
  width: 4% !important;
}

div.tab-cont-dis-overflow > div.tab-content {
    overflow: unset !important;
}

.rowDisplayFlex > .row {
    display: flex !important;
}

.largeTableWidth > table {
    width: 100% !important;
    min-width: calc(2100px * var(--scaleValue));
}
.largeTableWidth > table > thead > tr > th > div {
    cursor: pointer !important;
}

.smallTableWidth > table {
    width: 100% !important;
    min-width: calc(1620px * var(--scaleValue));
}
.smallTableWidth > table > thead > tr > th > div {
    cursor: pointer !important;
}

.mediumTableWidth > table {
    width: 100% !important;
    min-width: calc(1917px * var(--scaleValue));
}
.mediumTableWidth > table > thead > tr > th > div {
    cursor: pointer !important;
}

div[id^='DetailsFormOperation'] > div.card-body > div.row {
    margin-left: calc(var(--padding-default) * -1) !important;
    margin-right: calc(var(--padding-default) * -1) !important;
}

div[id='appSiderDetailsContent'] > div.form.card {
    height: 100%;
}

.hint-ico-help.fa {
  line-height: 1em;
  font-size: 1em;
}

.input-required {
  padding-top: 0px;
}

.maxWidthDynTooltip {
  max-width: 800px;
}

.alert-session {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #D7121C;
    margin: 0 20px;
    padding: 45px;
    font-size: 1.5rem;
    z-index: 10;
    font-weight: 600;
}

.col-form-label {
    margin-bottom: 0.5rem;
    padding-top: unset;
    padding-bottom: unset;
}

.include-h-100 > div.fc.wrapper, .include-h-100 > div.fc.wrapper > div[id^='Include'],
    .include-h-100 > div.fc.wrapper > div.Include > div.fc.wrapper {
    height: 100%;
}

.muipaper-word-break div.MuiPaper-root span{
    white-space: normal !important;
    word-break: break-word !important;
}

.tab-content-z-index-4 > div.tab-content {
    z-index: 4;
}

.tooltip-inner {
    text-align: left;
    max-width: 1000px;
}

.flex-basis-100 {
    flex-basis: 100%;
}

div.operations-dropdown.fc.dropdown {
    padding: 0 !important;
}

.disable-thead-auto-resize > table > thead > tr > th > div {
  display: none;
}

.icon-tab-badge {
  background: #F10052;
  display: inline-block;
  border-radius: 100%;
  color: var(--color-white);
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 19px;
  font-size: .7rem;
  position: absolute;
  margin-top: 15px;
  margin-left: -10px;
}

//LB

#modalLBInfo .modal-content {
  min-width: 1265px;
}

#supervisedGoodsItemsHeader, #balancingDocumentHeader {
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.12);
  padding-bottom: 6px;
}

[id^="supervisedGoodsItemsRow"], [id^="balancingGoodsItemsRow"] {
  align-items: center;
  border-bottom: 1px solid #aaa;
  margin-bottom: 0;
}

[id^="balancingRecordsRow"] {
  margin-bottom: 0 !important;
}

[id^="balanceRecordsShowButton"], [id^="supervisedRecordsShowButton"] {
  padding-top: 20px !important;
  padding-bottom: 0 !important;

}

[id^="balancingRecordsHeader"] {
  margin-bottom: 1px !important;
}

[id^="balancingRecordsHeader"] .outputLabel > span, #supervisedGoodsItemsHeader .outputLabel > span {
  display: inline-block;
  text-align: left;
}

div#fullBalancingGroup span.outputLabel {
  text-align: center;
}

[id^="balancingOperationHeader"].row {
  margin-bottom: 3px;
}

#modalOverModal2 > div > .modal-content {
  box-shadow: 0 0 18px 6px rgba(0, 0, 0, 0.4);
  padding: 5px 15px;
  top: 40px;
}

#modalOverModal2 th {
  text-align: center;
}

#modalOverModal2 tr td .outputLabel {
  justify-content: center;
}
