$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-fhng-attachment-big: '\e900';
$icon-fhng-back: '\e901';
$icon-fhng-bell: '\e902';
$icon-fhng-calendar: '\e903';
$icon-fhng-document-message: '\e904';
$icon-fhng-down: '\e905';
$icon-fhng-download: '\e906';
$icon-fhng-error-big: '\e907';
$icon-fhng-file-document: '\e908';
$icon-fhng-help: '\e909';
$icon-fhng-helpfhng--1: '\e90a';
$icon-fhng-home: '\e90b';
$icon-fhng-input_clearfhng-path1: '\e90c';
$icon-fhng-input_clearfhng-path2: '\e90d';
$icon-fhng-logout: '\e90e';
$icon-fhng-messages: '\e90f';
$icon-fhng-more: '\e910';
$icon-fhng-person: '\e911';
$icon-fhng-print: '\e912';
$icon-fhng-settings: '\e913';
$icon-fhng-small_arrow_right: '\e914';
$icon-fhng-up: '\e915';
