@import "~bootstrap/dist/css/bootstrap.css";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "Styles/FormComponents.css";

@media print and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .row,
    .fc.group,
    .fc.wrapper,
    .navbar {
        display: block !important;
    }
}

.col-xs {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
