.app-sider { position: fixed; }
.panel {
    .card { @include card-reset; }
    &--main {
        .card-header {  background: initial;  border: 0;  padding-top: $p-bigger; padding-bottom: $p-bigger; }
        .card-title { color: $c-main; font-weight: var(--font-weight-panels-title); font-size: var(--font-size-panels-title); }
    }
    &--search {
        .card-header { padding-left: 0; padding-right: 0; background: initial;  border: 0;
            .toolbox {
                span { opacity: .4; 
                    &:hover { opacity: 1; }
                }
            }
        }
        .card-title { color: $c-main; font-weight: 900; }
        .panel-footer { padding: 0;
            .card-body { padding: 0; }
            .col-md-6,
            .wrapper.col-md-12,
            .row { margin: 0; padding: 0; }
            .col-md-6 {
                .btn { padding: $p-bigger $p-default !important; border-radius: 0; font-weight: 900; box-shadow: none !important; }
                &:first-child .btn { background: $c-main; color: $c-white; }
                &:last-child .btn {
                    &,
                    &:hover  { background: transparent; color: $c-text; }
                }
            }
        }
    }
}

