<div  id="fh-layout-standard" class="fh-layout-div">
  <div id="appLayout" class="app sidebar-closed advanced-sidebar-closed menu-closed"
  >
    <div class="app-header app-header">
      <div class="app-header-logo">
<!--        <img th:src="${@environment.getProperty('fh.application.logo.url')}"-->
<!--             th:alt="${@environment.getProperty('fh.application.title')}" />-->
        <div id="appTitle" fhng-container></div>
      </div>
      <div id="appHeaderButtons" fhng-container="appHeaderButtons" class="app-header-buttons">
      </div>
      <div id="navbarForm" fhng-container="navbarForm" class="app-header-tray tray">
      </div>
      <div id="chatForm"></div>
      <div class="app-header-user">
        <div class="user user--reversed">
          <div class="user-avatar">
            <div id="userInitial" fhng-container="userInitial"></div>
          </div>
          <div class="user-info pr-0">
            <div id="systemInfo" fhng-container="systemInfo">
              <!--                            <span id="sessionCounter">&#45;&#45;:&#45;&#45;</span>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fhng-container="menuForm" class="app-menu">
    </div>
    <div class="app-body">
      <div class="panels">
        <div class="panel panel--search">
          <div id="searchForm" fhng-container class="panel-body">
          </div>
          <div id="searchButtonsForm" fhng-container="searchButtonsForm" class="panel-footer d-none">
          </div>
        </div>
        <div class="panel panel--advanced-search">
          <div id="advancedSearchForm" fhng-container="advancedSearchForm" class="panel-body">
          </div>
        </div>
        <div class="panel panel--main">
          <div id="mainForm" fhng-container="mainForm" class="panel-body">
          </div>
          <div id="buttonsForm" fhng-container="buttonsForm" class="panel-footer d-none">
          </div>
        </div>
        <div id="appSiderHelp" class="app-sider app-sider--from-top app-sider--help">
          <div class="panels">
            <div class="panel panel--sider">
              <div id="appSider" fhng-container class="panel-body">
              </div>
            </div>
          </div>
        </div>
        <div id="appSiderDetails"  class="app-sider app-sider--details">
          <div class="panels">
            <div class="panel panel--sider">
              <div id="appSiderDetailsContent" fhng-container class="panel-body">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--  <div>-->
<!--    <nav class="navbar navbar-expand-md navbar-dark bg-dark">-->
<!--      <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="#">POC Angular</a>-->
<!--        <button-->
<!--                class="navbar-toggler"-->
<!--                type="button"-->
<!--                data-bs-toggle="collapse"-->
<!--                data-bs-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent"-->
<!--                aria-expanded="false"-->
<!--                aria-label="Toggle navigation"-->
<!--        >-->
<!--          <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse " id="navbarTogglerDemo03" fhng-container="navbarForm">-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
<!--    <div class="container-fluid">-->
<!--      <div class="row">-->
<!--        <div id="menuForm" fhng-container-->
<!--             class="col-sm-12 col-md-3 col-lg-3 col-xl-2 mt-3"-->
<!--        >-->
<!--        </div>-->
<!--        <div id="mainForm" class="col mt-3" fhng-container>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
<fhng-application-lock></fhng-application-lock>
<fhng-notifications></fhng-notifications>
<fhng-container id="MODAL_VIRTUAL_CONTAINER"></fhng-container>
