<!doctype html>
<html id="fhApplication"
      th:with="lang=${#locale.language}" th:lang="${lang}"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta name="robots" content="noindex"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title th:text="${@environment.getProperty('fh.application.title')}">FH Application</title>

    <script th:if="${@environment.getProperty('fh.web.secure.caprcha.sitekey') != null}" th:src="@{https://www.google.com/recaptcha/api.js?render=__${@environment.getProperty('fh.web.secure.caprcha.sitekey')}__}"></script>


    <script th:inline="javascript">
        var contextRoot = [[@{
            /}]]; </script>
    <!-- bundles -->
    <link type="text/css" rel="stylesheet" href="fhApplication.bundle.css?version=@@buildNumber@@"/>

    <link type="text/css" rel="stylesheet"
          th:attrappend="href=${@environment.getProperty('fh.application.css.url') != null}?@{__${@environment.getProperty('fh.application.css.url')}__?version=@@buildNumber@@}"/>

    <script type="text/javascript" src="fhApplication.bundle.js?version=@@buildNumber@@"></script>

    <script type="text/javascript"
            th:attrappend="src=${@environment.getProperty('fh.application.js.url') != null}?@{__${@environment.getProperty('fh.application.js.url')}__?version=@@buildNumber@@}"></script>
</head>

<body>
<div  id="fh-layout-standard" class="fh-layout-div">
    <!--        <div id="${state}" th:insert="@{'fragments/' + ${state}} :: layout">-->
    <div  th:replace="@{'layouts/standard'} :: layout">
        <!-- Here goes templates for layouts -->
        <p>This section should disapear as it will be replaced by Thymeleaf</p>
    </div>
</div>
<div th:each='state : ${(@environment.getProperty("fhframework.layout.templates")).split(",")}' th:id="${'fh-layout-' + state}" class="fh-layout-div d-none">
<!--        <div id="${state}" th:insert="@{'fragments/' + ${state}} :: layout">-->
        <div  th:replace="@{'layouts/' + ${#strings.toLowerCase(state)}} :: layout">
            <!-- Here goes templates for layouts -->
            <p>This section should disapear as it will be replace by Thymeleaf</p>
        </div>
</div>

<footer id="fhFooter">
    <div class="row">
        <div id="version" class="col-sm-12 mt-3">Czas do końca sesji <span id="sessionCounter">--:--</span> Wersja
            aplikacji:
            @@buildNumber@@ (@@scmBranch@@) @@buildTimestamp@@, FH @@fh.version.display@@
        </div>
        <form class="col-sm-12" action="fileUpload">
            <input type="hidden" name="_csrf" value=""/>
        </form>
    </div>
</footer>
</body>
</html>
