.boxes { position: relative;
    &-header { padding: 20px; position: sticky; top: 0; background: $c-white; box-shadow: $sh-default; z-index: 2; }
}
.box { display: flex; margin: 20px; background: #fff; border-radius: 10px; box-shadow: $sh-default; justify-content: center; align-items: center; flex-wrap: wrap;
    &-link { color: inherit; display: flex; flex-grow: 1; justify-content: center; align-items: center; flex-wrap: wrap; 
        &:hover { color: inherit; text-decoration: none; }
    }
    &-group { padding: 15px; flex-grow: 1; 
        &--checkbox { flex: initial; }
        &--index { width: 70px; text-align: right; font-weight: 900; font-size: 1.4rem; flex: initial; padding-left: 0; }
    }
    &-title { font-weight: 900; font-size: 1.4rem; }
    &-subtitle { margin-bottom: 10px; }
    &-status { margin-top: 10px; }
    &-text { font-weight: 600; }
}