$check-size: 16px;
.checkme { width: $check-size; height: $check-size; border: 2px solid $c-text; display: inline-block; border-radius: 4px;  line-height: 1; position: relative; top: 2px; user-select: none; transform: $t-scale;
    &--checked {  opacity: 1; position: relative;  background-color: $c-text; box-shadow: inset 0 5px 5px rgba(#000, .2); border: 0;
        &::after { width: 9px; height: 4px; content: ''; border-left: 3px solid $c-white; border-bottom: 3px solid $c-white; transform: rotate(-45deg) translate(0px, 4px); display: block; border-radius: 2px; box-sizing: initial;  }
    }
}
.activators { 
    &-header { font-weight: 800; font-size: .9rem; padding-bottom: 15px; }
    &-body { background: $c-white; box-shadow: $sh-default; border-radius: 5px;
        .activator { border-bottom: 1px solid $c-border-light;
            &:last-child { border: 0; }
        }
    }
}
.activator { border: 0; background: transparent; width: 100%; display: block; border-bottom: 1px solid $c-border-light; text-align: left; display: flex; align-items: center;
    &-icon { padding: 15px 8px; }
    &-name { padding: 15px 8px; font-weight: 600; font-size: .9rem; }
}
.switches { 
    &-header { font-weight: 800; font-size: .9rem; padding-bottom: 15px; }
    &-body {
        .switch { margin-bottom: 15px;
            &:last-child { margin: 0; }
        }
    }
}
.switch { display: flex; justify-content: space-between; align-items: center; user-select: none; cursor: default;
    &-switcher { width: 30px; height: 20px; border-radius: 10px; box-shadow: inset 0 2px 2px rgba(#000, .1); background: rgba(#000, .05); position: relative; transition: .2s linear; margin-right: 10px; 
        .switch--selected & { background: $c-success; }
        &::after { width: 16px; height: 16px; border-radius: 8px; box-shadow: 0 2px 2px rgba(#000, .1); content: ''; display: block; background-color: $c-white; position: absolute; top: 2px; left: 2px; transition: .2s linear; 
            .switch--selected & { transform: translateX(10px);  }
        }
    }
    &-separator { flex-grow: 1; }
    &--rewersed { flex-direction: row-reverse; justify-content: flex-end; }
}

// bootstrap forms ovverride
.form {
    &-group {
        label { font-weight: 800; font-size: .9rem; padding-top: unset; padding-bottom: unset; line-height: unset; margin-bottom: .5rem }
    }
    &-control { border: 1px solid $c-border; padding: $p-input;height: auto; background: $c-white; border-radius: 2px; font-size: 1rem; box-shadow: $sh-light; color: var(--color-input-group-text);
        &:active,
        &:focus { box-shadow: 0 5px 10px rgba(#000, .1); border: 1px solid $c-border; background: $c-white; color: var(--color-input-group-text);}
    }
    &-flex { display: flex;
        input[type=date]::-webkit-inner-spin-button,
        input[type=date]::-webkit-calendar-picker-indicator { display: none; -webkit-appearance: none; }
        .form-control { flex-grow: 1; flex-basis: 0; appearance: none; width: 50%;
            &:first-of-type { border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; }
            &:last-of-type { border-top-left-radius: 0; border-bottom-left-radius: 0; }
        }
    }
    
}
.input{ 
    &-old-value { text-decoration: line-through; color: $c-danger; }
    &-group-text { background-color: $c-bg-light; border-color: $c-border; }
}
.input-group {
    > .input-group-append {
        > .btn { border-color: $c-border; box-shadow: none;
            &:hover,
            &:active,
            &:focus { background-color: $c-bg-light; color: $c-text; }
        }
    }
}
.old-value { color: $c-danger; text-decoration: line-through; }