.search-box {
    &-group { padding: 20px; }
    &-header { padding: 15px 20px; display: flex; border-top: 1px dashed $c-border; cursor: pointer; align-items: center; user-select: none; }
    &-count { color: $c-white; background: $c-main; margin-left: 25px; padding: 4px 10px; font-weight: 700; border-radius: 10px; }
    &-title { font-size: 1.2rem; font-weight: 900; }
    &-separator { padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px dotted $c-border; clear: both; }
    &-buttons { display: flex; box-shadow: $sh-default; position: relative; 
        &--small { z-index: -1; }
    }
    &-button { position: relative; cursor: pointer; border: 0 !important; user-select: none!important; flex-grow: 1; border-right: 1px solid $c-border-light !important; flex-basis: 0; padding: $p-bigger 5px !important; background: $c-white !important; display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: 0.7rem !important; font-weight: 700 !important;
        &--selected { color: $c-main !important; box-shadow: inset $sh-default!important; }
        &--small { min-height: initial; padding: $p-default 5px;
            i { font-size: 1.1rem!important; }
        }
        &:last-child { border-right: 0; }
        i { font-size: 2.2rem; margin-bottom: 5px; }
        span { font-size: .7rem; font-weight: 700; display: block ;text-align: center; }
    }
    &-button-status { text-align: center; line-height: 20px; font-size: 0.8rem; font-weight: 700;position: absolute; top: 15px; right: 15px; width: 20px; height: 20px; color: $c-white; color: $c-white; background-color: $c-danger; border-radius: 100%; }
}
.search-buttons { display: flex; }
.search-button { font-weight: 900; font-size: 1.3rem; padding: 20px 5px; border: 0; flex-grow: 1; flex-basis: 0;
    &--main { background: $c-main; color: $c-white; }
}