.ui-table { width: 100%;
    a { color: inherit; text-decoration: underline;}
    > thead {
        > tr {
            > th { padding: $p-table; text-align: left;  position: sticky; top: 0; background: $c-white; font-weight: 900; white-space: nowrap; z-index: 2; cursor: pointer; user-select: none;
                > span {
                    white-space: normal;
                }
                > i { margin-left: 5px; }
                &::after { position: absolute; top: 100%; left: 0; width: 100%; height: 10px; content: ''; background-image: linear-gradient(to bottom, rgba(#000, .10), rgba(#000, 0)); }    
            } 
        }
    }
    > tbody { height: 100px; 
        > tr { 
            &:hover { background: $c-bg; }
            > td { white-space: nowrap; padding: $p-table; border-bottom: 1px solid $c-border-light; text-align: left; vertical-align: middle; position: relative; z-index: 1; 
                > span {
                    white-space: normal;
                }
            }
        }
    }
    &-row { 
        @each $color-name, $color in $colors {
            &--#{$color-name} {
                td:first-child{ position: relative;
                    &::before { position: absolute; top: calc(50% - 12.5px); height: 25px; width: 4px; border-radius: 0 3px 3px 0; left: 0; display: block; content: ''; background: $color; box-shadow: inset -2px 0 2px rgba(#000, .1); }
                }
            }
        }
    }
}