$headers: ('h1': 1.4rem, 'h2': 1.2rem, 'h3': 1.1rem, 'h4': 1rem);

@each $name, $size in $headers {
    .#{$name} { font-size: $size; color: $c-main; padding: 15px 0; font-weight: 900;
        @each $color-name, $color in $colors {
            &--#{$color-name} { color: $color; }
        }
        @each $weight in $weights {
            &--#{$weight} { font-weight: $weight; }
        }
    }
}