:root {
    --color-white: #fff;
    --color-negative-text: #fff;
    --color-black: #000;
    --color-bg: #f0f0f0;
    --color-bg-light: #f9f9f9;
    --color-main: #0A12FF;
    --color-bg-primary:  #0A12FF;
    --color-text: #333232;
    --color-border: #ccc;
    --color-border-light: #dfdfdf;
    --color-bg-popup: #f0f0f0;
    --color-bg-header-popup: #0A12FF;
    --color-font-popup: #000;
    --color-font-header-popup: #fff;
    --color-tree-element-selected: initial;
    --color-input-group-text: #495057;
    --color-switch-bg: rgba(0,0,0,0.05);
    //--color-switch-bg-false: #F10052;
    --color-success:  #76C700;
    --color-collapse-icon: #000;
    --color-input-readonly: #f9f9f9;
    --color-combo-icdts: #0A12FF;
    --color-mui-paper: rgba(0,0,0,0.87);
    --color-font-header-external: #fff;
    --color-static-tooltip: #000;
    --content-collapse-icon-up: "\F077";
    --content-collapse-icon-down: "\F078";
    --padding-default: 15px;
    --padding-bigger: 20px;
    --padding-table: 20px 7px;
    --padding-input: 12.5px 7.5px;
    --minWidth-rawinput: 46px;
    --font-size-default: 13px;
    --scale: scale(1);
    --scaleValue: 1;
    --header-height: 85px;
    --font-size-panels-title: 1.4rem;
    --font-weight-panels-title: 700;
    --font-weight-table-header: 700;
    --color-bg-xml-view: rgba(255,255,255, 0.5);
    @media (max-width: 1400px) {
        --padding-default: 5px;
        --padding-bigger: 10px;
        --padding-table: 10px 7px;
        --padding-input: 7px;
        --minWidth-rawinput: 32px;
        --font-size-default: 11px;
        --scale: scale(.85);
        --scaleValue: 0.85;
        --header-height: 70px;
        --font-size-panels-title: 1.3rem;
    }
    @media (max-width: 1200px) {
        --padding-default: 3px;
        --padding-bigger: 6px;
        --padding-table: 5px 5px;
        --padding-input: 5px;
        --minWidth-rawinput: 26px;
        --scale: scale(.7);
        --scaleValue: 0.7;
        --font-size-default: 10px;
        --font-size-panels-title: 1.2rem;
    }
}
.style--compressed {
    --padding-default: 3px;
    --padding-bigger: 6px;
    --padding-table: 5px 5px;
    --padding-input: 5px;
    --minWidth-rawinput: 26px;
    --font-size-default: 10px;
    --scale: scale(.7);
    --scaleValue: 0.7;
    --header-height: 70px;
    --font-size-panels-title: 1.2rem !important;
}

.style--no--header {
    --header-height: 0px;
}

.theme--dark {
    --color-main: #eeff00;
    --color-white: #2b2b2b;
    --color-negative-text: #2b2b2b;
    --color-black: #eeff00;
    --color-bg: #2b2b2b;
    --color-text: #eeff00;
    --color-bg-light: #202020;
    --color-border: #0c0c0c;
    --color-border-light: #161616;
    --color-bg-primary: #e9ee86;
    --color-bg-popup: #2b2b2b;
    --color-bg-header-popup: #eeff00;
    --color-font-popup: #eeff00;
    --color-font-header-popup: #000;
    --color-tree-element-selected: #eeff00;
    --color-input-group-text: #eeff00;
    --color-switch-bg: rgba(255,255,255,0.5);
    --color-success: #eeff00;
    --color-collapse-icon: #eeff00;
    --color-input-readonly: #2b2b2b;
    --color-combo-icdts: #eeff00;
    --color-mui-paper: rgba(238, 255, 0, 1);
    --color-font-header-external: #eeff00;
    --color-static-tooltip: #eeff00;
}

.theme--lt {
    --color-white: #fff;
    --color-negative-text: rgba(0, 0, 0, 0.87);
    --color-bg-primary: #ffc107;
    --color-black: #000;
    --color-bg: #f0f0f0;
    --color-bg-light: #f9f9f9;
    --color-main: #4c8c4a;
    --color-text: #333232;
    --color-border: #ccc;
    --color-border-light: #dfdfdf;
    --color-bg-popup: #fff;
    --color-bg-header-popup: #4c8c4a;
    --color-font-popup: #333232;
    --color-font-header-popup: #000;
    --color-collapse-icon: #4c8c4a;
    --color-input-readonly: #e9ecef;
    --color-combo-icdts: #4c8c4a;
    --color-static-tooltip: #4c8c4a;
    --content-collapse-icon-down: "\F063";
    --content-collapse-icon-up: "\F062";
    --font-size-panels-title: 1.4rem;
    --font-weight-panels-title: 700;
    --font-weight-table-header: 700;
    @media (max-width: 1400px) {
    --font-size-panels-title: 1.3rem;
    }
    @media (max-width: 1200px) {
    --font-size-panels-title: 1.2rem;
    }
}

$c-negative-text: var(--color-white);
$c-white: var(--color-white);
$c-black: var(--color-black);
$c-bg: var(--color-bg);
$c-bg-light: var(--color-bg-light);
$c-border-light: var(--color-border-light);
$c-border: var(--color-border);
$c-bg-primary: var(--color-bg-primary);

$c-text: var(--color-text);
$c-main: var(--color-main);

$c-success: var(--color-success);
$c-danger: #F10052;
$c-warning: #ff9900;
$c-primary: $c-bg-primary;
$colors: ('danger': $c-danger, 'success': $c-success, 'warning': $c-warning, 'primary': $c-primary, 'main': $c-main);
$weights: (300, 400, 500, 600, 700, 800, 900);

$sh-default: 0px 5px 15px rgba(#000, .15);
$sh-light: 0 2px 5px rgba(#000, .075);
$br-default: 4px;


$p-default: var(--padding-default);
$p-bigger: var(--padding-bigger);
$p-table: var(--padding-table);
$p-input: var(--padding-input);

$fs-default: var(--font-size-default);

$h-header: var(--header-height);
$t-scale: var(--scale);
$t-fw: var(--font-weight-table-header);

input.fc-editable {
    color: var(--color-text);
}
